#contador{
    font-size: 24px;
    font-weight: bold;
    color: #ebd7d7;
    text-align: center;
    margin-top: 20px;
}
.contador{
    font-size: 24px;
    font-weight: bold;
    color: #f3eeee;
    text-align: center;
    margin-top: 20px;
}